<html>
    <head>
        <title>Serapis</title>
        <link rel="stylesheet" href="../css/styles.css"/>
    </head>

    <body>
        <h1>
            Serapis Eleventy site
        </h1>
        {{ content | safe }}

        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>
